<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="padding-bottom: 30px;">
    <router-outlet></router-outlet>
</div>
<img (click)="scrollToTop()" src="../assets/arrow-up-circle.svg" width="36" height="36" fill="currentColor" class="fixed-bottom" style="margin-left: 10px; margin-bottom: 70px; flex: right; cursor:pointer">

<footer class="bg-dark text-white mt-4 fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://new.mospolytech.ru/"> MPU </a>
      </div>
</footer>
