<app-nav-bar></app-nav-bar>

<div class="container">
  
    <div class="input-group flex-nowrap" style="margin: 10px 0px;">
        <input type="text" class="form-control" placeholder="Поиск" aria-label="" aria-describedby="addon-wrapping"
            [ngModel]="searchStr" (ngModelChange)="changeSearchStr()" #searchInput>
    </div>

    
    <div class="row">
        <app-gost-element *ngFor="let gost of gosts  | searchFilter: searchStr: gosts; let i = index" [gost]="gost"
            style="width: auto; height: auto;" id="gost-element"></app-gost-element>
    </div>
</div>