<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <img src="/src/assets/fusion360_icon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        <a class="navbar-brand">Fusion 360 GOST components library</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>